
<div class="bs-example">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="300x200" src=<%= "#{@profile.image}"%> style="width: 300px; height: 200px;">
        <div class="caption">
          <h3><%= @profile.name %></h3>
          <p>Native language: <strong><%= @profile.native_language %></strong>, wants to learn: <strong><%= @profile.learning_language %></strong></p>
          <p><%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-primary" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
